body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.landing-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 36px;
  margin-bottom: 20px;
}

.main-content {
  margin-top: 20px;
}

button {
  padding: 15px 30px;
  font-size: 24px;
  background-color: #4CD6A0;
  color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6BCEC8;
}

.rock-3d-regular {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #4CD6A0;
}